{%extends 'base.html'%}
{% block content %}

<div style="background-color:rgb(201, 194, 194); height: 90vh; background-size: cover; background-position: center;"> 
          
    <div class="rgba-indigo-light full-bg-img flex-center mask white-text" style="height: 90vh;">           

        <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
            <li>
            <h1 class="font-weight-bold text-uppercase">Awwards-Review Website</h1>
            </li>
            <li>
            <p class="font-weight-bold text-uppercase py-4">The Awwards-Review of design, creativity and innovation on the internet</p>
            </li>
            <li class="list-inline-item">
            <a target="_blank" href="/accounts/register" class="btn btn-unique btn-lg btn-rounded mr-0">Sign up!</a>
            </li>
            <li class="list-inline-item">
            <a target="_blank" href="{% url 'index' %}" class="btn btn-cyan btn-lg btn-rounded ml-0">Learn more</a>
            </li>
        </ul>                  
    </div> 
</div>

<!-- project section -->



{% endblock %}